<%- include('partials/header', { title: 'Monthly Transactions' }) %>
<table class="table-auto w-full border border-gray-300 rounded-lg shadow-md">
  <thead>
    <tr class="bg-blue-200">
      <th class="px-4 py-2 text-left border-b-2 border-gray-300">Date</th>
      <th class="px-4 py-2 text-left border-b-2 border-gray-300">Type</th>
      <th class="px-4 py-2 text-left border-b-2 border-gray-300">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < transactions.length; i++) { %>
      <tr class="bg-white hover:bg-gray-100 border-b border-gray-200">
        <td class="px-4 py-2 text-left"><%= transactions[i].date %></td>
        <td class="px-4 py-2 text-left"><%= transactions[i].type %></td>
        <td class="px-4 py-2 text-left"><%= transactions[i].amount %></td>
      </tr>
    <% } %>
  </tbody>
</table>
<% transactions.forEach(function(transaction) { %>
  <% if (transaction.amount > 100) { %>
    <p class="mt-4 text-red-500 text-center">
      Be careful with your expenses! You have spent <%= transaction.amount %> in <%= transaction.type %>.
    </p>
  <% } %>
<% }); %>
<%- include('partials/footer') %>
